/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2017, 1:37:08 PM
    Author     : Joel1
*/
body{
    background-color: white;
    max-width:1280px;
    margin: auto;
}
.bold{
    font-weight: bold;
}
ul{
    list-style: none;
}
.head {
    margin:-10px auto;
    width: 100%;
    background-color: darkslategrey;
    display:inline-block;
    position: relative;
    float: right;
    box-shadow: 0px 7px 0px 0px rgba(0,0,0, .5);
    box-shadow: 0px 0px 0px 7px rgba(0,0,0, .5);
    color: white;
    border-radius: 15px;
    z-index: 5;
}
.head h3{
    font-size: 50px;
    float: left;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 2%;
}
.head h2 {
    text-align: right;
    margin-right: 2%;
    float:bottom;
    font-size: 12px;
    position:relative;
    margin-top: 2px;
}
.head h1{
    text-align: right;
    margin-right: 2%;
    float: top;
    font-size: 35px;
    position:relative;
    margin-top: 7px;
    margin-bottom: 0px;
}
#resume {
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    display:inline-block;
    background-color: whitesmoke;
    padding-bottom: 30px;
}
#education{
    padding: 1%;
}
#experience{
    padding: 1%;
}
#language{
    padding: 1%;
}
#education:hover{
    border-radius: 7px;
    box-shadow: 7px 7px 7px 7px rgba(0,0,0, .5);
}

#experience:hover{
    border-radius: 7px;
    box-shadow: 7px 7px 7px 7px rgba(0,0,0, .5);
}

#language:hover{
    border-radius: 7px;
    box-shadow: 7px 7px 7px 7px rgba(0,0,0, .5);
}
#projects{
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: whitesmoke;
    padding-bottom: 30px;
    column-count: 3;
    display:inline-block;
    width:80%;
}

figure{
    margin:auto;
    text-align: center;
}
img{
    margin: auto;
    display:block;
    background: black;
    width: 230px;
}

li{
    padding-bottom: 3px;
}