/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2017, 1:37:08 PM
    Author     : Joel
*/
body{
    background-color: whitesmoke;
    max-width:1500px;
    margin: auto;
}

h3{
    font-weight: bold !important;
}
#intro{
    border-bottom: solid whitesmoke;
}
#intro h1{
    margin: 0;
    font-weight: bold;
    border-bottom: solid whitesmoke;
}
#intro h4{
    margin: 0;
    margin-left: 25px;
    font-weight:normal;
    color: gray;
}
#content{
    float: right;
    width:75%;
    background-color: white;
    padding:25px;
}
#profile{
    float: left;
}

#profile img{
    width:260px;
}

#profileBar{
    margin-top: 0px;
    background: white;

}

#profileBar ul{
    padding: 0;
    display:block;
    margin: 0;
}

#profileBar ul li{
    width:100%;
    display: inline-block;
}

#profileBar a{
    width: 100%;
    height: 100%;
    display:inline-block;
    padding-left: 15px;
    text-decoration: none;
}

#profileBar a:hover{
    background-color: black;
    color: white;
}

#about{
    margin-top: 10px;
    column-count: 2;
    width:80%;
    margin:10px auto;
    color:gray;
}
#about p{
    margin: 0;
}
.bold{
    font-weight: bold;
}
ul{
    list-style: none;
}
.head {
    margin:-10px auto;
    width: 100%;
    background-color: whitesmoke;
    display:inline-block;
    position: relative;
    float: right;
    color: black;
    z-index: 0;
    border-bottom: solid black;
}
.head ul{
    font-size: 17px;
    float: left;
    margin-top: 40px;
    margin-bottom: 10px;
}
.head li{
    float: left;
    position: relative;
    z-index: 1;
}
.head li a{
    display:box;
    margin-right: 16px;
    text-decoration: none;
}

.head li a:visited{
    color:black;
}

.head h2 {
    text-align: right;
    margin-right: 2%;
    float:bottom;
    font-size: 12px;
    position:relative;
    margin-top: 2px;
}
.head h1{
    text-align: right;
    margin-right: 2%;
    float: top;
    font-size: 35px;
    position:relative;
    margin-top: 7px;
    margin-bottom: 0px;
}
#resume {
    margin-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    display:inline-block;
    background-color: whitesmoke;
    padding-bottom: 0;
}
#education{
    border-bottom: solid whitesmoke;
    display: inline-block;
    width: 100%;
}

#skills{
    width: 100%;
    display: inline-block;
    position: relative;
}

#skills ul{
    column-count: 2;
}

#skills ul li{
    margin-bottom: 4px;
}

#skills h4{
    margin-top: 0;
    color: gray;
    margin-bottom: 4px;
}
/*#eduContain{
    column-count: 3;
    margin: 0 auto;
    width:100%;
    float: none;
    position: relative;
}
.eduContainer{
    height: 200px;
    display:block;
        margin: 0 auto;
}

.eduContainer h4{
    margin: 0;
}

.eduContainer ul{
    padding: 0;
}*/

#experience{
    border-bottom: solid whitesmoke;
    float: right;
    position: relative;
    padding-bottom: 10px;
}

.timelineContainer{
    position: relative;
}

.timeline{
    margin-left:40px;
}
.timeline:after{
    content: '';
    width:2px;
    top:0;
    bottom: 0;
    background-color: gray;
    position: absolute;
    margin-left: -20px;
}

.container{
    position:relative;
}

.container:after{
    position:absolute;
    width: 10px;
    height: 10px;
    content: '';
    background-color: white;
    border: 2px solid gray;
    border-radius: 50%;
    z-index: 1;
    top:-0px;
    left:-24px;
}

.container h4{
    margin-bottom: 0;
}

.container p{
    margin-left: 25px;
    margin-top: 2px;
    font-size: .8em;
    color:gray;
    margin-bottom:5px
}
.container ul{
    margin: 0;
    margin-left:10px;
    padding:0;
    color: gray;
}
.container ul li p{
    margin:0;
}

#projectPics{
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
    margin:0 auto;
    background-color: white;
    padding-bottom: 30px;
    column-count: 2;
    column-fill: auto;
    width:80%;
}

#projectPics a{
    display:block;
    background-color: black;
    height:auto;
    width:260px;
    margin-bottom: 10px;
}

#projectPics a p{
    display:none;
}

#projectPics img:hover{
    opacity: 0.4;
    transition: all .5s ease-out;
}

#projectPics a:hover p{
    font-size: 2em;
    display: block;
    transition: all 1s ease-out;
    color: white;
    position:absolute;
    margin: 25px 50px;
}

figure{
    margin: 0 !important;
    padding: 0;
}
#projectPics img{
    display:block;
    margin: 0 !important;
    background: black;
    width: inherit;
    height: inherit;
}

@media screen and (max-width: 1340px) {
    #projectPics{
        column-count: 1;
    }
    #projectPics a{
        width:360px;
        margin: 10px auto;
    }
    #profile{
        float: none;
        display:inline-block;
    }
    #profile img{
        float:left;
    }
    #profileBar{
        margin-left: -70px;
        margin-top: 79px;
        transform: rotate(-90deg);
        float: right;
    }
    #content{
        float:none;
        width:90%;
    }
    #projectPics a:hover p{
        margin: 25px 65px;
        font-size: 3em;
    }
}

@media screen and (max-width: 740px) {
    #projectPics{
        column-count: 1;
    }
    #projectPics a{
        width:240px;
        margin: 10px auto;
    }
    #profile{
        float: none;
        display:inline-block;
    }
    #content{
        float:none;
        width:90%;
    }
    #projectPics a:hover p{
        margin: 25px 82px;
        font-size: 1em;
    }
    #about{
    column-count: 1;
    }
    #skills ul{
    column-count: 1;
    }
}